<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594098393575-ggpld79regv831dcig8746hiv20c0kjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594098393575-ggpld79regv831dcig8746hiv20c0kjv</string>
	<key>API_KEY</key>
	<string>AIzaSyAk6AxXpB12Svxg-8epsj80i0H4ntDqSU0</string>
	<key>GCM_SENDER_ID</key>
	<string>594098393575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.offlineprogrammer.flutterAppleSignin</string>
	<key>PROJECT_ID</key>
	<string>flutterapplesignin</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapplesignin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594098393575:ios:b215ae60311d7f8df8ed42</string>
</dict>
</plist>